### Import dependencies

In [1]:
# Import BeautifulSoup, Pandas, and Requests/Splinter.
from bs4 import BeautifulSoup
import pandas as pd
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [2]:
# Setup splinter
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/zzj8988/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [5]:
# collect the latest News Title and Paragraph Text
news_title = soup.find('div',class_='content_title').get_text()
news_p = soup.find('div',class_='article_teaser_body').get_text()
print(news_title)
print(news_p)

NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network
Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.

In [6]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [7]:
# Setup splinter
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)
url = 'https://spaceimages-mars.com/'
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/zzj8988/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [8]:
browser.links.find_by_partial_text('FULL IMAGE').click()
html = browser.html
soup = BeautifulSoup(html,'html.parser')
partial_image_url = soup.find('img',class_='fancybox-image')['src']
featured_image_url = f"{url}{partial_image_url}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [9]:
browser.quit()

### Mars Facts

In [61]:
#Visit the Mars Facts webpage here.
url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(requests.get(url).text)
len(tables)

2

In [62]:
tables[0]

                         0                 1                 2
0  Mars - Earth Comparison              Mars             Earth
1                Diameter:          6,779 km         12,742 km
2                    Mass:  6.39 Ã 10^23 kg  5.97 Ã 10^24 kg
3                   Moons:                 2                 1
4       Distance from Sun:    227,943,824 km    149,598,262 km
5          Length of Year:    687 Earth days       365.24 days
6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C

In [56]:
tables[1]

                      0                               1
0  Equatorial Diameter:                        6,792 km
1       Polar Diameter:                        6,752 km
2                 Mass:  6.39 Ã 10^23 kg (0.11 Earths)
3                Moons:           2 ( Phobos & Deimos )
4       Orbit Distance:        227,943,824 km (1.38 AU)
5         Orbit Period:            687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:               2nd millennium BC
8          Recorded By:            Egyptian astronomers

In [63]:
#use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
fact_df = tables[0]
new_header = fact_df.iloc[0]
fact_df = fact_df[1:] 
fact_df.columns = new_header 
fact_df.set_index("Mars - Earth Comparison",inplace=True)

In [65]:
fact_df

0                                    Mars             Earth
Mars - Earth Comparison
Diameter:                        6,779 km         12,742 km
Mass:                    6.39 Ã 10^23 kg  5.97 Ã 10^24 kg
Moons:                                  2                 1
Distance from Sun:         227,943,824 km    149,598,262 km
Length of Year:            687 Earth days       365.24 days
Temperature:                -87 to -5 Â°C      -88 to 58Â°C

In [66]:
#Use Pandas to convert the data to a HTML table string.
html_table = fact_df.to_html().encode("ISO-8859-1").decode()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Mars - Earth Comparison</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [28]:
# Setup splinter
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)
url = 'https://marshemispheres.com/'
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/zzj8988/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [30]:
# generate links
html = browser.html
soup = BeautifulSoup(html,'html.parser')
items = soup.find_all('div',class_='item')
links = []
for item in items:
    link = f"{url}{item.a['href']}"
    links.append(link)
    print(link)
print(links)

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html
['https://marshemispheres.com/cerberus.html', 'https://marshemispheres.com/schiaparelli.html', 'https://marshemispheres.com/syrtis.html', 'https://marshemispheres.com/valles.html']

In [31]:
hemisphere_image_urls = []

for link in links:
    info = {}
    #go to each page
    browser.visit(link)
    #start scraping
    html = browser.html
    soup = BeautifulSoup(html,'html.parser')
    
    title = soup.find('h2',class_ = 'title').text
    partial_img_url = soup.find('img',class_='wide-image')['src']
    img_url = f"{url}{partial_img_url}"
    info['title'] = title
    info['img_url'] = img_url
    hemisphere_image_urls.append(info)
    # go back to the main page
    browser.links.find_by_partial_text('Back').click()
    print(info)
print(hemisphere_image_urls)

{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [32]:
browser.quit()